# Dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Casch
.cache

# Misc
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.vscode
npm-debug.log*
